<!DOCTYPE html>
<html>
<head>
  <title>Dafuxi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body role="document">
	 <div class="container">
	    <div class="row">
	      <div class="span9"><%= yield %></div>
	    </div>
	</div>
	<footer class="footer">
	  <div class="footer navbar-fixed-bottom">
	    <p class="text-muted">Place sticky footer content here.</p>
	  </div>
	</footer>
</body>
</html>
